body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#doc-div {
  display: inline-flex;
}

.clickable {
  color: #139CD6; /* Medium cyan */
  cursor: pointer;
}

.not-fetched {
  color: #880000; /* Dark red */
  cursor: pointer;
}
